<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewChapter</title>
  <link rel="stylesheet" href="./read.component.component.css">
</head>
<body>
  <div class="nav-bar">
    <a routerLink="/blogs">Блоги</a>
    <a routerLink="/main">Главная</a>
    <a routerLink="/works">Работы</a>
    <div class="logo-container">
      <img src="https://pngimg.com/d/book_PNG2107.png" alt="NewChapter Logo" width="100" />
      <p>NewChapter</p>
    </div>
    <a routerLink="/search">Поиск</a>
    <a routerLink="/menu">Пользовательское соглашение</a>
    <a routerLink="/userpage/:id">Домой</a>
  </div>

  <div class="auth-card-wrapper">
    <div class="auth-card">
      <div *ngIf="isLoggedIn">
        <p>Добро пожаловать, {{ userDisplayName }}!</p>
        <button (click)="goToProfile()">Мой профиль</button>
        <button (click)="logout()">Выйти</button>
      </div>

      <div *ngIf="!isLoggedIn">
        <p>Вы не авторизованы</p>
        <button (click)="goToLogin()">Войти</button>
        <button (click)="goToRegister()">Зарегистрироваться</button>
      </div>
    </div>
  </div>

    <div class="reader">
      <div class="controls">
        <button (click)="increaseFontSize()">A+</button>
        <button (click)="decreaseFontSize()">A-</button>
      </div>

      <div *ngIf="fanfic; else loading">
        <div class="text">
          <h1>{{fanfic.name}}</h1>
          <p><strong>Автор:</strong> {{ authorName }}</p>
          <div [innerHTML]="decodeHtml(fanfic.description)"></div>
          <p><strong>Жанры:</strong> {{ genreNames}}</p>
          <div id="fanficText" [innerHTML]="decodeHtml(fanfic.text)"></div>
        </div>
      </div>

      <ng-template #loading>
        <p>Загрузка...</p>
      </ng-template>
    </div>

    <ng-template #loading>
      <p>Загрузка...</p>
    </ng-template>

</body>
</html>
