<h1 mat-dialog-title>Добавить новый пост</h1>
<div mat-dialog-content style="display: inline; padding: 0px; margin: auto;">
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Автор"
      [(ngModel)]="addPost.userID" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Заголовок поста"
      [(ngModel)]="addPost.title" required>
  </mat-form-field>
    <angular-editor [placeholder]="'Начните печатать здесь'" [(ngModel)]="addPost.postdescription"></angular-editor>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button class="right-align" mat-raised-button color="primary"
    [mat-dialog-close]="addPost">Доабвить</button>
</div>
