<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NewChapter</title>
  <link rel="stylesheet" href="./blogs.component.css">
</head>
<body>
  <div class="nav-bar">
    <a routerLink="/blogs">Блоги</a>
    <a routerLink="/main">Главная</a>
    <a routerLink="/works">Работы</a>
    <div class="logo-container">
      <img src="https://pngimg.com/d/book_PNG2107.png" alt="NewChapter Logo" width="100" />
      <p>NewChapter</p>
    </div>
    <a routerLink="/search">Поиск</a>
    <a routerLink="/menu">Пользовательское соглашение</a>
    <a routerLink="/userpage/:id">Домой</a>
  </div>
  <div class="container">
    <header class="header">
      <div class="auth-container">
        <ng-container *ngIf="!isLoggedIn; else userProfile">
          <p class="auth-message">Кажется, вы не вошли в систему</p>
          <div class="auth-buttons">
            <a routerLink="/login" class="btn login-btn">Вход</a>
            <a routerLink="/registration" class="btn register-btn">Регистрация</a>
          </div>
        </ng-container>
      <ng-template #userProfile>
        <div class="profile-box">
          <p>{{ username }}</p>
          <div class="profile-buttons">
            <a routerLink="/profile" class="btn">Мой профиль</a>
            <button class="btn" (click)="logout()">Выйти</button>
          </div>
        </div>
      </ng-template>
      </div>
    </header>
  </div>

    <section class="blogs">
      <h2>Популярные записи в блогах</h2>
      <div class="grid">
        <div *ngFor="let post of Post" class="card">
          <p>Автор: {{ Users.get(post.userID) }}</p>
          <h3>{{ post.title }}</h3>
          <h3>{{ post.postdescription | slice:0:50 }}{{ post.postdescription.length > 50 ? '...' : '' }}</h3>
          <button mat-flat-button color="white" (click)="goToBlogComponent(post.id)">Читать далее</button>
        </div>
      </div>
    </section>
</body>
</html>
