<h1 mat-dialog-title>Добавить фанфик</h1>

<div *ngIf="editingFanfic" mat-dialog-content style="display: inline; padding: 0px; margin: auto;">

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Автор"
      [value]="editingFanfic.authorLogin" readonly>
  </mat-form-field>

  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="Название фанфика"
      [(ngModel)]="editingFanfic.name" required>
  </mat-form-field>

  <div>
    Описание работы:
  <angular-editor
    [placeholder]="'Начните печатать здесь...'"
    [(ngModel)]="editingFanfic.description">
  </angular-editor>
  </div>

 <mat-form-field class="full-width-input">
  <mat-label>Жанры</mat-label>
  <mat-select [(ngModel)]="selectedGenres" multiple>
    <mat-option *ngFor="let genre of data.genres" [value]="toNumber(genre.genreID)">
      {{ genre.genre }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <angular-editor
    [placeholder]="'Начните печатать здесь...'"
    [(ngModel)]="editingFanfic.text">
  </angular-editor>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Отмена</button>
  <button class="right-align" mat-raised-button color="primary"
    [mat-dialog-close]="editingFanfic" (click)="onSave()">Добавить</button>
</div>
